@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --brand-light: #f6f4f4;
  --brand-light2: #ccc2c2;
  --brand-color: #9d8a8a;
  --brand-dark: #6a5858;
  --brand-dark2: #382e2e;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  min-height: 100vh;
  display: block;
  background-image: url("./assets/banner\ \(3\)-mobile.png");
  background-size: cover;
  background-position: top center;
  position: relative;
  width: 100%;
  justify-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 74px;
  position: fixed;
  top: 0;
  background-color: var(--brand-dark2);
  z-index: 2;
}

.nav-container {
  max-width: 1080px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

@media (min-width: 768px) {
  .nav-container {
    margin: 0 0 0 20px;
  }
}

@media (min-width: 1080px) {
  .nav-container {
    margin: 0;
  }
}

nav ul li a {
  list-style: none;
  color: var(--brand-light);
  padding: 0 16px;
  text-transform: uppercase;
  font-size: 0.875rem;
  cursor: pointer;
  text-decoration: none;
}

nav ul li a:hover {
  font-weight: 600;
  color: var(--brand-light2);
}

nav img {
  cursor: pointer;
}

nav a img {
  width: 34px;
  margin: 16px 10px;
}

@media (min-width: 768px) {
  .menu-item {
    display: none;
  }
}

.menu-desktop {
  display: none;
}

@media (min-width: 768px) {
  .menu-desktop {
    display: flex;
    margin: 0;
    list-style: none;
  }
}
.content-header {
  padding: 0 15px;
  position: relative;
  top: 320px;
}

@media (min-width: 768px) {
  .content-header {
    max-width: 1080px;
    top: 290px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1080px) {
  .content-header {
    padding: 0;
  }
}

h1 {
  font-size: 2.5rem;
  color: var(--brand-light);
  text-transform: uppercase;
  font-weight: 800;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--brand-dark);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 50%;
  margin-top: 80px;
}

@media (min-width: 768px) {
  h2 {
    width: 100%;
    margin-top: 80px;
  }
}

h3 {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--brand-light2);
  text-transform: uppercase;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.25rem;
    font-weight: 300;
  }
}

h4 {
  font-size: 1rem;
  font-weight: 900;
  color: var(--brand-dark);
  text-align: center;
  margin: 0 0 16px;
}

p {
  font-size: 0.935rem;
  font-weight: 300;
  color: var(--brand-dark);
  text-align: center;
  margin: 24px auto;
  padding: 0 15px;
  width: 70%;
}

.p-destaque {
  font-size: 0.935rem;
  font-weight: 300;
  color: var(--brand-dark);
  text-transform: uppercase;
  text-align: center;
  margin: 80px auto;
  padding: 0 15px;
  width: 50%;
}
@media (min-width: 768px) {
  .p-destaque {
    font-size: 2rem;
    width: 80%;
    margin: 120px auto;
  }
}

button {
  border: none;
  font-size: 0.75rem;
  border-radius: 50px;
  color: var(--brand-light);
  background-color: var(--brand-dark);
  padding: 6px 16px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 16px;
  cursor: pointer;
}

@media (min-width: 768px) {
  button {
    font-size: 0.875rem;
  }
}

button:hover {
  background-color: var(--brand-dark2);
}

.card-title {
  font-size: 0.75rem;
  color: var(--brand-color);
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin: 16px 0 8px;
}

.card-colecoes,
.card-mais-vendidos {
  padding: 0 15px;
}

@media (min-width: 768px) {
  .card-colecoes,
  .card-mais-vendidos {
    display: block;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.card-colecoes-itens,
.card-mais-vendidos-itens {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  gap: 20px;
}
@media (min-width: 768px) {
  .card-colecoes-itens,
  .card-mais-vendidos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 20px;
  }
}
@media (min-width: 1080px) {
  .card-colecoes-itens,
  .card-mais-vendidos-itens {
    margin: 0;
  }
}
.card,
.card-mais-vendidos-item {
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

.card-colecoes img,
.card-mais-vendidos img {
  border-radius: 8px;
  width: 100%;
}

.card-mais-vendidos button,
.card-colecoes button {
  width: 100%;
  cursor: pointer;
}

.quem-somos,
.nossa-equipe {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
.carousel-control-next-icon {
  background-image: url(./assets/icones/arrow.png);
}
.carousel-control-prev-icon {
  background-image: url(./assets/icones/arrow.png);
  rotate: 180deg;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 0 20px;
}

@media (min-width: 1080px) {
  .card-deck {
    margin: 0;
  }
}

.card-equipe-item p,
.card-equipe-item h5,
.card-equipe-item h4 {
  text-align: left;
  padding: 0;
  margin: 8px 0;
  width: 90%;
}

.card-deck h4 {
  color: var(--brand-light2);
  font-size: 0.75rem;
}

.card-body h4 {
  color: var(--brand-dark);
  font-size: 1rem;
}
.card-equipe-item h5 {
  font-weight: 800;
  color: var(--brand-dark);
  font-size: 0.75rem;
  color: var(--brand-color);
  text-transform: uppercase;
  margin: 16px 0 8px;
}

.card-deck img {
  border-radius: 4px;
}
.card-equipe-item {
  width: 160px;
  display: block;
  margin: 0 auto;
}
.social-media {
  display: flex;
  margin-bottom: 16px;
}
.social-media a {
  width: 20px;
  margin: 6px 16px 0 0;
}

.social-media a img {
  cursor: pointer;
  width: 100%;
}

footer {
  height: 360px;
  padding: 48px 0;
  background-color: var(--brand-light);
  margin: 80px auto 0 auto;
}

@media (min-width: 768px) {
  footer {
    height: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container-footer {
  display: block;
  justify-content: center;
  align-content: space-between;
  width: 100%;
}

@media (min-width: 768px) {
  .container-footer {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    width: 100%;
    margin: 0 20px;
  }
}
@media (min-width: 1080px) {
  .container-footer {
    margin: 0 auto;
  }
}

.header-menu-footer p {
  margin: 16px 0;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .header-menu-footer p {
    margin: 5px 0;
    width: 100%;
    padding: 0;
    text-align: left;
  }
}

.content-menu-footer {
  display: block;
}
@media (min-width: 768px) {
  .content-menu-footer {
    display: flex;
    align-items: center;
  }
}

.content-menu-footer a {
  margin: 16px 0;
}
@media (min-width: 768px) {
  .content-menu-footer a {
    margin: 0 16px;
  }
}

footer p {
  text-align: left;
}

footer a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--brand-dark);
  justify-content: center;
}

@media (min-width: 768px) {
  footer a {
    text-align: left;
  }
}

footer a:hover {
  font-weight: 600;
  color: var(--brand-color);
}

footer .social-media {
  justify-content: center;
}

footer .social-media a {
  margin: 32px 8px 0 8px;
}

.copyright p {
  color: var(--brand-color);
  font-size: 0.5rem;
  background-color: white;
  padding: 8px 0;
  margin: 0;
}
